# ---- Visual Studio ----
.vs/
*.ipch
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates

# ---- Build Results ----
Debug/
Release/
x64/
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog
*.cache
*.db

# ---- OS Files ----
.DS_Store
Thumbs.db
